<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>
<h2>Home page</h2>
<div>
<table>
    <thead>
    <tr>
        <th>location</th>
        <th>crime type</th>
        <th>crime description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="crime : ${crime}">
        <td th:text="${crime.location}">Type</td>
        <td th:text="${crime.crime_type}">Name</td>
        <td th:text="${crime.story}">Name</td>
    </tr>
    </tbody>
</table>
</body>
</html>
